altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
inputimeout==1.0.4
macholib==1.16.3
packaging==24.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pynput==1.7.7
pyobjc-core==10.2
pyobjc-framework-ApplicationServices==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-CoreText==10.2
pyobjc-framework-Quartz==10.2
requests==2.31.0
requests-toolbelt==1.0.0
scapy==2.5.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
